<div id="header" style="background-color:#303030;">
<div id="myDiv" style="color:#A0A0A0;margin:auto;text-align:center"><h1><%= @book.title %></h1></div>
<p id="notice" style="text-align:center"><%= notice %></p>
<div id="content" style="background-color:#EEEEEE;text-align:center;align:center">
<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Status:</b>
  <%= @book.status %>
</p>
</div>
<div id="content" style="background-color:#303030;text-align:center;align:center;color:#A0A0A0">
<b>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
</b>
</div>
</div>